.navigationBar {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  margin-top: 5.4rem;
  padding: 1rem;
}

.navigationButton {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    font-weight: bold;

    .backIcon {
      transform: translateX(-0.3rem);
    }
  }
}

.backIcon {
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 1rem;
}

.navigationText {
  margin-left: 0.5rem;
}
