.categoryListContainer {
  margin-top: 4rem;

  & h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.categoryGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  list-style: none;
  padding: 0;
}

.categoryItem {
  flex: 1 1 calc(50% - 2rem);
  max-width: calc(50% - 2rem);
  box-sizing: border-box;
}

.categoryBox {
  margin-top: 1rem;
  color: var(--secondary-color-dark);
  border: 1px solid #dddddd;
  border-radius: 0.2rem;
  padding: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-decoration: none;
  background-color: var(--secondary-color);

  &:hover {
    background-color: var(--secondary-color-dark);
    color: var(--primary-color);
  }
}

.link {
  text-decoration: none;
}

@media (max-width: 900px) {
  .categoryListContainer {
    margin-top: 0;

    & h2 {
      font-size: 1.5rem;
    }
  }

  .categoryItem {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .categoryBox {
    padding: 2rem;
  }
}
