.category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

@media (max-width: 900px) {
  .main {
    padding: 8rem 02rem;
  }
}

@media (max-width: 568px) {
  .category {
    padding: 6rem 2rem;
  }
}
