.container {
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
  background-color: var(--primary-color);
  margin-top: 2rem;
  border-radius: 0.8rem;

  .list {
    list-style-type: none;
    padding: 0;
  }

  .totalPrice {
    text-align: right;
    font-weight: bold;
    margin-top: 2rem;
  }
}
