.categoryContainer {
  padding: 4rem;

  & h2 {
    padding-left: 2rem;
    margin: 3rem 0;
  }
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
  justify-content: center;
  max-width: 100%;
}

.productItem {
  flex: 1 1 calc(33% - 2rem);
  max-width: calc(33% - 2rem);
  box-sizing: border-box;
  background-color: #fff;
}

.productBox {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
}

.productImage {
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: contain;
  max-width: 100%;
}

.productInfo {
  background-color: rgba(245, 245, 245, 0.8);
  padding: 1rem;
  border-radius: 0.5rem;
}

.productTitle {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333333;
}

.productPrice {
  color: #333333;
}

.addToCartButton {
  background-color: #000000;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;

  &:hover {
    background-color: #343237;
  }
}

@media (max-width: 1980px) {
  .productItem {
    flex: 1 1 calc(50% - 2rem);
    max-width: 100%;
  }

  .categoryContainer {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .productItem {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .categoryContainer {
    padding: 1rem;
  }
}
