.categoryContainer {
  padding: 0 4rem;
  margin-bottom: 4rem;

  & h2 {
    margin-top: 4rem;
  }

  & p {
    margin-bottom: 2rem;
  }
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
  max-width: 100%;
  background-color: var(--primary-color);
}

.productItem {
  flex: 1 1 calc(33% - 2rem);
  max-width: calc(33% - 2rem);
  box-sizing: border-box;
}

.productBox {
  border: 1px solid #dddddd;
  border-radius: 1rem;
  padding-top: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.productImageContainer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .productImage {
    border-radius: 1rem;
    object-fit: contain;
  }
}

.productInfo {
  background-color: var(--secondary-color-light);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 100%;

  .productTitle {
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--primary-color-dark);
    font-size: 1rem;
  }

  .productPrice {
    color: var(--primary-color-dark);
  }
}

@media (max-width: 1680px) {
  .productItem {
    flex: 1 1 calc(50% - 2rem);
    max-width: 100%;
  }

  .categoryContainer {
    padding: 0 2rem;
  }
}

@media (max-width: 968px) {
  .productItem {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .categoryContainer {
    padding: 0 1rem;

    & h2 {
      margin-top: 2rem;
    }
  }
}
