.categoryContainer {
  padding: 6rem;

  & h2 {
    padding-left: 2rem;
    margin: 4rem 0;
    margin-top: 6rem;
    margin-bottom: 0;
  }

  & p {
    padding-left: 2rem;
    margin-bottom: 2rem;
  }
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
  justify-content: center;
  max-width: 100%;
  background-color: #fff;
}

.productItem {
  flex: 1 1 calc(33% - 2rem);
  max-width: calc(33% - 2rem);
  box-sizing: border-box;
}

.productBox {
  border: 1px solid #dddddd;
  border-radius: 1rem;
  padding-top: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.productImageContainer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .productImage {
    border-radius: 8px;
    object-fit: contain;
    max-width: 100%;
    max-height: 16rem;
  }
}

.productInfo {
  background-color: rgba(245, 245, 245, 0.8);
  padding: 1rem;
  border-radius: 0.5rem;
  height: 100%;

  .productTitle {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333333;
    font-size: 1rem;
  }

  .productPrice {
    color: #333333;
  }
}

@media (max-width: 1680px) {
  .productItem {
    flex: 1 1 calc(50% - 2rem);
    max-width: 100%;
  }

  .categoryContainer {
    padding: 2rem;
  }
}

@media (max-width: 968px) {
  .productItem {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .categoryContainer {
    padding: 1rem;
  }
}
